In [143]:
import pandas as pd
from datetime import date

In [147]:
df = pd.read_csv('Korean_Lottery.csv')

In [148]:
new_header = df.iloc[1] #grab the first row for the header
df = df[2:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df = df.iloc[:,2:] #gets rid of the years since its duplicate information
df = df.reset_index(drop=True) #resets index
df = df.rename({df.columns[0]:'Date','1등 당첨자수':'# of 1st Place Winners','2등 당첨자수':'# of 2nd Place Winners', #renames columns from Korean to English
          '3등 당첨자수':'# of 3rd Place Winners', '4등 당첨자수':'# of 4th Place Winners',
          '5등 당첨자수':'# of 5nd Place Winners', '1등 당첨금액':'1st Place Prize',
          '2등 당첨금액':'2nd Place Prize', '3등 당첨금액':'3rd Place Prize',
          '4등 당첨금액':'4th Place Prize', '5등 당첨금액':'5th Place Prize',
          '1':'1st Ball', 2.0:'2nd Ball', 3.0:'3rd Ball', 4.0:'4th Ball', 5.0:'5th Ball', 6.0:'6th Ball','보너스':'Bonus Ball'},axis='columns')

df['1st Place Prize'] = df['1st Place Prize'].str[:-1]
df['2nd Place Prize'] = df['2nd Place Prize'].str[:-1]
df['3rd Place Prize'] = df['3rd Place Prize'].str[:-1]
df['4th Place Prize'] = df['4th Place Prize'].str[:-1]
df['5th Place Prize'] = df['5th Place Prize'].str[:-1]

df['Date'] = df['Date'].astype('datetime64[ns]')

In [149]:
df

1,Date,# of 1st Place Winners,1st Place Prize,# of 2nd Place Winners,2nd Place Prize,# of 3rd Place Winners,3rd Place Prize,# of 4th Place Winners,4th Place Prize,# of 5nd Place Winners,5th Place Prize,1st Ball,2nd Ball,3rd Ball,4th Ball,5th Ball,6th Ball,Bonus Ball
0,2023-12-09,7,"3,864,293,090",67,"67,288,686","2,631","1,713,547","135,670","50,000","2,317,263","5,000",14,33.0,34.0,35.0,37.0,40.0,4
1,2023-12-02,10,"2,539,391,175",85,"49,791,984","2,924","1,447,442","141,700","50,000","2,386,598","5,000",1,12.0,16.0,19.0,23.0,43.0,34
2,2023-11-25,10,"2,617,825,575",57,"76,544,608","2,584","1,688,484","135,653","50,000","2,278,659","5,000",8,14.0,28.0,29.0,34.0,40.0,12
3,2023-11-18,12,"2,112,854,469",87,"48,571,368","2,725","1,550,719","136,802","50,000","2,278,728","5,000",6,7.0,15.0,22.0,26.0,40.0,41
4,2023-11-11,13,"1,967,040,750",65,"65,568,025","2,928","1,455,575","141,232","50,000","2,327,509","5,000",10,17.0,22.0,30.0,35.0,43.0,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,2003-01-04,0,0,0,0,42,"6,033,800","3,043","166,500","60,434","10,000",16,24.0,29.0,40.0,41.0,42.0,3
1093,2002-12-28,0,0,1,"211,191,200",29,"7,282,400","2,777","152,100","52,382","10,000",14,27.0,30.0,31.0,40.0,42.0,2
1094,2002-12-21,1,"2,000,000,000",0,0,139,"1,174,100","5,940","54,900","73,256","10,000",11,16.0,19.0,21.0,27.0,31.0,30
1095,2002-12-14,1,"2,002,006,800",2,"94,866,800",103,"1,842,000","3,763","100,800","55,480","10,000",9,13.0,21.0,25.0,32.0,42.0,2
1096,2002-12-07,0,0,1,"143,934,100",28,"5,140,500","2,537","113,400","40,155","10,000",10,23.0,29.0,33.0,37.0,40.0,16